* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Prata";
}

@mixin transition {
  transition: all ease-in-out 0.6s;
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and(min-width:1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
