header {
  display: flex;
  justify-content: space-between;

  position: fixed;
  z-index: 2;
  width: 100vw;
  padding-top: 2rem;
  padding-left: 7rem;
  padding-bottom: 1rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  opacity: 0.98;
  visibility: hidden;

  &.open {
    visibility: visible;
  }
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;

  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: white;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  @include transition;

  &.open {
    transform: translateY(0);
  }

  &_item {
    transform: translateX(100vw);
    @include transition;
    &.open {
      transform: translateX(0);
    }
  }
  &_link {
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    padding: 2rem 0;
    color: white;
    text-transform: capitalize;
    @include transition;

    &.open {
      color: whitesmoke;
    }
  }
}

.menu-btn {
  cursor: pointer;
}

@for $i from 1 through 4 {
  .menu-nav_item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s)+0.24s;
  }
}

.contact {
  padding: 1rem;
  text-decoration: none;
  color: black;
  background: orangered;
}
